<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>PB Login Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c74e5">  <td>19/01/11 20:12:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WithParameter.testWithParameter(java.lang.String, java.lang.String)[pri:0, instance:com.parameterization.test.WithParameter@2a5ca609]">testWithParameter</td> 
  <td>TestNG-tests-1@1318978526</td>   <td></td> </tr>
<tr bgcolor="92ec79">  <td>19/01/11 20:12:44</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WithParameterSuiteLevel.testWithParameter(java.lang.String, java.lang.String)[pri:0, instance:com.parameterization.test.WithParameterSuiteLevel@68c4039c]">testWithParameter</td> 
  <td>TestNG-tests-2@949556142</td>   <td></td> </tr>
</table>
